auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9095

schema_config:
  configs:
    - from: 2024-01-01
      store: boltdb-shipper
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
  filesystem:
    directory: /loki/chunks

ingester:
  wal:
    dir: /loki/wal

limits_config:
  allow_structured_metadata: false
  ingestion_rate_mb: 10
  ingestion_burst_size_mb: 20
