auth_enabled: false

server:
  http_listen_port: 3100

ingester:
  lifecycler:
    ring:
      replication_factor: 1
  chunk_idle_period: 3m

schema_config:
  configs:
    - from: 2024-01-01
      store: filesystem
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  filesystem:
    directory: /loki/data

limits_config:
  ingestion_rate_mb: 10
  ingestion_burst_size_mb: 20

